<section class="calculo-telzir">
  <div class="cl-content-1">
    <h1>
      Faça o cálculo
      do FaleMais
    </h1>
    <p>
      Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
  </div>
  <section class="cl-content-2">
    <div class="lina01">
      <div class="coluna-l01 coluna01-l01">
        <p>ORIGEM</p>
        <select name="origem" id="origem">
          <option value="0">Escolher origem</option>
          <option value="1">São Paulo</option>
        </select>
      </div>

      <div class="coluna-l01 coluna02-l01">
        <p>DESTINO</p>
        <select name="origem" id="origem" placeholder="asd">
          <option value="0">Escolher destino</option>
          <option value="1">São Paulo</option>
        </select>
      </div>

      <div class="coluna-l01 coluna03-l01">
        <p>TEMPO</p>
        <select name="origem" id="origem">
          <option value="0">Escolher tempo</option>
          <option value="1">São Paulo</option>
        </select>
      </div>
    </div>

    <div class="linha02">
      <div class="coluna-l02 coluna01-l02">
        <p>PLANO</p>
        <select name="origem" id="origem">
          <option value="0">Escolher plano</option>
          <option value="1">Fale mais 30</option>
          <option value="2">Fale mais 60</option>
          <option value="3">Fale mais 120</option>
        </select>
      </div>
    </div>

    <div class="linha03">
      <div class="coluna-l03 coluna01-l03">
        <p><strong>Total</strong></p>
      </div>

      <div class="coluna-l03 coluna02-l03">
        <p><strong>R$ 00,00</strong></p>
      </div>
    </div>
  </section>
</section>
