<section class="calculo-telzir">
  <div class="cl-content-1">
    <h1>Personalize aqui</h1>
    <h1>seu plano Telzir!</h1>
    <p>
      Aqui você pode <strong>PERSONALIZAR</strong> e <strong>CONTRATAR</strong> o seu plano.
    </p>
    <p>
      Veja a diferença de preço com um plano pre-pago e sem ele.
    </p>
  </div>
  <section class="cl-content-2">
    <form [formGroup]="form" (ngSubmit)="onSunmit()">
      <div class="lina01">
        <div class="coluna-l01 coluna01-l01">
          <p>ORIGEM</p>
          <select class="form-control" name="origem" id="origem" formControlName="origem">
            <option value="" selected>Escolha a origem</option>
            <option *ngFor="let origem of origens" [ngValue]="origem.valor">
              {{origem.nome}}
            </option>
          </select>

        </div>

        <div class="coluna-l01 coluna02-l01">
          <p>DESTINO</p>
          <select class="form-control" name="destino" id="destino" formControlName="destino">
            <option value="" selected>Escolha o destino</option>
            <option *ngFor="let destino of destinos" [ngValue]="destino.valor">
              <p>{{destino.nome}}</p>
            </option>
          </select>
        </div>

        <div class="coluna-l01 coluna03-l01">
          <p>TEMPO</p>
          <select class="form-control" name="tempo" id="tempo" formControlName="tempo">
            <option value="" selected>Escolha o tempo</option>
            <option *ngFor="let tempo of tempos" [ngValue]="tempo.valor">
              <p>{{tempo.nome}}</p>
            </option>
          </select>
        </div>
      </div>

      <div class="linha02">
        <div class="coluna-l02 coluna01-l02">
          <p>PLANO</p>
          <select class="form-control" name="plano" id="plano" formControlName="plano">
            <option value="" selected>Escolha um plano</option>
            <option *ngFor="let plano of planos" [ngValue]="plano.valor">
              <p>{{plano.nome}}</p>
            </option>
          </select>
        </div>
      </div>

      <div class="linha03">

        <div class="coluna-l03 coluna01-l03">
          <p><strong>Com FaleMais</strong></p>
          <div class="coluna-l03 coluna02-l03">
            <p><strong>R$ {{total.totalComPlano.toFixed(2)}}</strong></p>
          </div>
        </div>



        <div class="coluna-l03 coluna01-l03">
          <p><strong>Sem FaleMais</strong></p>
          <div class="coluna-l03 coluna02-l03">
            <p><strong>R$ {{total.totalSemPlano.toFixed(2)}}</strong></p>
          </div>
        </div>


        <div class="coluna-l03 coluna01-l03">
          <p><strong>Valor plano</strong></p>
          <div class="coluna-l03 coluna02-l03">
            <p><strong>R$ {{total.valorPlano.toFixed(2)}}</strong></p>
          </div>
        </div>

      </div>
      <div class="linha04">
        <button class="btn" type="submit" href="#">Contratar</button>
      </div>
    </form>
  </section>
</section>
