/*CÁLCULO TELZIR*/
.calculo-telzir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  align-content: center;

  background-color: #ffe8d3;

  .cl-content-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 25%;
  }

  .cl-content-2 {
    display: flex;
    justify-content: center;

    margin: 20px;
    width: 40%;
    background-color: #fff;

    border-radius: 8px;

    form {
      width: 100%;
    }

    .lina01 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      p {
        color: #000000;
      }

      .coluna-l01 {
        padding: 5px;
        width: 33.33%;

        select {
          border-style: none;
          color: #a8a8a8;
          width: 100%;
          padding: 5px;
        }
      }

      .coluna01-l01 {
        border-style: none solid solid none;
        border-width: 1px;
        border-color: #e5e5e5;
      }

      .coluna02-l01 {
        border-style: none none solid none;
        border-width: 1px;
        border-color: #e5e5e5;
      }

      .coluna03-l01 {
        border-style: none none solid solid;
        border-width: 1px;
        border-color: #e5e5e5;
      }
    }

    .linha02 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      p {
        color: #000000;
      }

      .coluna-l02 {
        padding: 5px;
        width: 100%;

        border-style: none none solid none;
        border-width: 1px;
        border-color: #e5e5e5;

        select {
          border-style: none;
          color: #a8a8a8;
          width: 100%;
          padding: 5px;
        }
      }
    }

    .linha03 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      p {
        color: #000000;
      }
    }

    .linha04 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin: 30px 0 30px 0;

      .btn {
        border-style: solid;
        border-color: #ab49ce;
        border-radius: 8px;
        border-width: 2px;
        padding: 10px 30px;
        font-weight: 900;
        color: #fff !important;
        background-color: #ab49ce;

        cursor: pointer;
      }
    }
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: 10px;
    font-size: 18px;
    color: #666666;

    strong:last-child {
      color: #ab49ce;
    }
  }
}

@media (max-width: 1000px) {
  .calculo-telzir {
    text-align: center;
    .cl-content-1 {
      margin: 20px 0px 20px 0px;
      width: 100%;
    }

    .cl-content-2 {
      margin: 20px;
      width: 100%;
    }

    .linha04 {
      padding: 0;
    }
  }
}
