<section class="footer-top">
  <div class="coluna">
    <h4>Combo</h4>
    <h5>Planos</h5>
    <h5>Atendimentos</h5>
    <h5>Serviços adicionais</h5>
  </div>

  <div class="coluna">
    <h4>Celular</h4>
    <h5>Planos</h5>
    <h5>Atendimentos</h5>
    <h5>Serviços adicionais</h5>
  </div>

  <div class="coluna">
    <h4>Fixo</h4>
    <h5>Planos</h5>
    <h5>Atendimentos</h5>
    <h5>Serviços adicionais</h5>
  </div>

  <div class="coluna">
    <h4>Sobre</h4>
    <h5>A empresa</h5>
    <h5>Franquia</h5>
    <h5>Sobre nós</h5>
  </div>

  <div class="coluna">
    <h4>Comunidade</h4>
    <h5>Acessibilidade</h5>
    <h5>Diversidade e pertencimento</h5>
    <h5>telzir.org</h5>
  </div>
</section>
<section class="footer-hr">
  <hr>
</section>

<section class="footer-bottom">
  <img src="../../../assets/imgs/telzir2021.png" alt="">
</section>
