<header>
  <a href="#"><img src="assets/imgs/logo.png" alt="Telzir"></a>

  <nav>
    <li><a href="#"><strong>Vantagens</strong></a></li>
    <li><a href="#"><strong>Cálculo</strong></a></li>
    <li><a class="btn" href="#">Saiba mais</a></li>
  </nav>
</header>

<section class="hero">
  <h1>Pague menos</h1>
  <h1><strong>Fale Mais</strong></h1>
  <p>
    Com os planos Telzir você fala a vontade.
  </p>
  <a class="btn" href="#">Saiba mais</a>
</section>

<app-vantagens01></app-vantagens01>
<app-vantagens02></app-vantagens02>
<app-vantagens03></app-vantagens03>

<app-calculo-home></app-calculo-home>

<section class="plano-telzir">
  <div class="pl-content">
    <h1>
      Planos
    </h1>
    <p>
      Aqui estão todos os nossos planos com todas as suas vantagens,
      se nenhum dos valores atender você pode personalizar o seu plano.
    </p>
  </div>
</section>

<section class="precos-planos">
  <app-precos-plano img="../../../assets/imgs/preco01.png" tipoPlano="FaleMais 30" valor="30,00" vantagem01="Vantagem 01"
    vantagem02="Vantagem 02" vantagem03="Vantagem 03">
  </app-precos-plano>
  <app-precos-plano img="../../../assets/imgs/preco02.png" tipoPlano="FaleMais 60" valor="60,00" vantagem01="Vantagem 01"
    vantagem02="Vantagem 02" vantagem03="Vantagem 03"></app-precos-plano>
  <app-precos-plano img="../../../assets/imgs/preco03.png" tipoPlano="FaleMais 120" valor="120,00" vantagem01="Vantagem 01"
    vantagem02="Vantagem 02" vantagem03="Vantagem 03"></app-precos-plano>
  <app-precos-plano img="../../../assets/imgs/preco04.png" tipoPlano="Personalizado" valor="" vantagem01="Vantagem 01"
    vantagem02="Vantagem 02" vantagem03="Vantagem 03"></app-precos-plano>
</section>
