<section class="vantagens-telzir-01">
  <div class="vt-content vt-content-1">
    <h1>Vantagens do FaleMais</h1>
  </div>

  <section class="vantagens-telzir-esq">
    <div class="vt-content vt-content-2">
      <h1>Você paga uma única vez e fala a vontade</h1>
      <p>
        Não precisa se preocupar com preço no fim do mês,
        nossa taxa é fixa.
      </p>
    </div>

    <div class="vt-content vt-content-3">
      <img src="../../assets/imgs/rectangle.png" alt="">
    </div>
  </section>
</section>
