.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 15px 30px 10px 30px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cbb7a5;

  .logo {
    display: flex;
    justify-content: center;
    width: 70%;

    img {
      width: 68px;
      height: 68px;
    }

  }
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
