<section class="vantagens-telzir-01">
  <div class="vt-content vt-content-1">
  </div>

  <section class="vantagens-telzir-esq">
    <div class="vt-content vt-content-2">
      <h1>Você paga uma única vez e fala a vontade</h1>
      <p>
        Não precisa se preocupar com preço no fim do mês,
        nossa taxa é fixa.
      </p>
    </div>

    <div class="vt-content vt-content-3">
      <div class="icon icon01">
        <fa-icon [icon]="faMapMarkerAlt" class=" fa-2x"></fa-icon>
        <p>Lorem</p>
      </div>

      <div class="icon icon02">
        <fa-icon [icon]="faPlus" class=" fa-2x"></fa-icon>
      </div>

      <div class="icon icon03">
        <fa-icon [icon]="faPhoneAlt" class=" fa-2x"></fa-icon>
        <p>Ipsum</p>
      </div>

      <div class="price">
        <h1>00,</h1>
        <div class="price-column">
          <h3>00</h3>
          <h3>/mês</h3>
        </div>
      </div>
    </div>
  </section>
</section>
