/*HEADER*/
header {
  //background-image: url('/src/assets/imgs/afro-woman-talking-on-the-phone.jpg');
  //background-repeat: no-repeat;
  //background-position: center;

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
}

header nav {
  display: flex;

  .btn {
    border-style: solid;
    border-color: #AB49CE;
    border-radius: 8px;
    border-width: 2px;
    padding: 10px 30px;
    font-weight: 900;
    color: #fff;
    background-color: #AB49CE;
  }
}

header li a {
  color: #000000;
  font-size: 16px;
}

header li {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

header li:first-child { margin-left: 0;}


@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 15px;
  }

}

/*HERO*/

.hero {
  background-image: url('../../assets/imgs/afro-woman-talking-on-the-phone.jpg');
  background-size: cover;
  min-height: 585px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px 0 200px;
}

@media (max-width: 700px) {
  .hero {
    padding: 90px 10px 0 50px;
  }
}

.hero h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 15px;
}

.hero p{
  margin-bottom: 15px;
}

.hero .btn {
  border-style: solid;
  border-color: #AB49CE;
  border-radius: 8px;
  border-width: 2px;
  padding: 10px 30px;
  font-weight: 900;
}

/*PLANO TELZIR*/
.plano-telzir {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  padding: 10px 0 10px 0;

  .pl-content {
    width: 30%;

    h1 {
      font-size: 32px;
      padding-top: 15px;
    }

    p {
      color: #666666;
      font-size: 18px;
      margin: 15px;
    }
  }
}

@media (max-width: 1000px) {
  .plano-telzir {
    flex-direction: column;

    .pl-content {
      width: 100%;
    }
  }

}

/*PREÇO DOS PLANOS*/
.precos-planos {
  display: flex;
  justify-content: center;

  padding: 20px;
}

@media (max-width: 1000px) {
  .precos-planos {
    flex-direction: column;
    align-items: center;
  }
}



